<h1>餐廳後台</h1>
{{>admin}}
<br />
{{#if category}}
<form action="/admin/categories/{{category.id}}?_method=PUT" method="POST">
    <input type="text" name="name" id="name" placeholder="Edit #{{category.id}} category name">
    <button class="btn btn-primary">Submit</button>
</form>
{{else}}
<form action="/admin/categories" method="POST">
    <input type="text" name="name" id="name" placeholder="Create new category">
    <button class="btn btn-primary">Submit</button>
</form>
{{/if}}
<hr>
<br/>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Category Name</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        {{#each categories}}
        <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.name}}</td>
            <td>
                <button type="button" class="btn btn-link">
                    <a href="/admin/categories/{{this.id}}">
                        Edit
                    </a>
                </button>
                <form action="/admin/categories/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-link">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>